
        <div class="jumbotron">
            <h1>Welcome to ICC Cricket Club!</h1>
            <p>Click on any one of the team logo's to view the player info..</p>
            <div class="teams" class="row">
              <div class="col-md-3">
                <img class="team-logo" routerLink="chennai" src="C:\Users\SUMANTH\Desktop\HTML&CSS\Frontend Practice\Project-FrontEnd\Omnifood Contents\berlin.jpg" alt="berlin">
              </div>
              <div class="col-md-3">
                <img  class= "team-logo" routerLink="bangalore" src="./assets/images/bangalore-logo.png" alt="dummy">
              </div>
              <div class="col-md-3">
                <img class="team-logo" routerLink="mumbai" src="./assets/images/mumbai-logo.jpg" alt="dummy">
              </div>
              <div class="col-md-3">
                <img class="team-logo" routerLink="hyderabad" src="./assets/images/hyderabad.png" alt="dummy">
              </div>
            </div>
          </div>